/* Comunes  */
body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Josefin Sans', sans-serif!important;
  line-height: 1.5;
}

#main .container-fluid:nth-child(1),
#main .main-content-wrap,
#main .main-content,
#main .col-lg-12 { padding-right: 0!important; padding-left: 0!important; margin-right: 0!important; margin-left: 0!important; }
.container, .container-fluid { padding-right: 15px!important; padding-left: 15px!important; }
.row { margin-left: -15px!important; margin-right: -15px!important; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-right: 15px!important;
  padding-left: 15px!important;
}

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

.arrow {
	position: relative;
	top: 0;
	margin-bottom: 20px;
	animation: arrow 1.2s infinite;
}

@keyframes arrow {
  0% {
    top: 0;
  }
  70% {
    top: 5px;
  }
  100% {
    top: 0;
  }
}
/* Comunes end */

/* Breadcums */
.page-top .yoast-breadcrumbs a, .page-top .breadcrumbs-wrap a, .page-top .product-nav .product-link {
  color: white;
}

.page-top .yoast-breadcrumbs, .page-top .breadcrumbs-wrap {
  color: #7fa8ae;
}
/* Breadcums end */

/* Pagina de gracias por su pago */
.post-9 a button {
  background: transparent;
  color: white;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

.post-9 a:hover {
  background: #7fa8ae;
}

/* Pagina de gracias por su pago end */

/* Newsletter */
.newsletter {
  margin-bottom: 60px;
  background: #cccccc;
  padding-top: 30px;
  padding-bottom: 30px;
}

.newsletter p {
  color: black;
}

.newsletter button {
  color: white;
  background: black;
  width: 100%;
  margin-top: 10px;
  border-color: black;
}

.newsletter button:hover {
  color: white;
  background: #7fa8ae;
  border-color: #7fa8ae;
}

.newsletter .close {
  color: black;
  background: transparent;
  width: auto;
  margin-top: 0;
  border-color: black;
}

.newsletter .close:hover {
  color: #255525;
  background: transparent;
  border-color: #7fa8ae;
}

/* Newsletter end */

/* Header  */
#header .share-links a:not(:hover) {
  color: white;
}

.porto-icon-user-2 {
  color: white;
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

.porto-icon-user-2:hover {
  opacity: 0.7;
}

#header .main-menu > li.menu-item > a {
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}
/* Header end */

/* Iconos */
.iconos {
  margin-bottom: 60px;
}

.iconos img {
  max-width: 65%;
}

.iconos h4 br {
  display: none;
}

.iconos h4 {
  font-size: 0.65rem;
}
/* Iconos end */

/* Footer */
#footer .logo img {
  max-width: 150px;
}

#footer .footer-bottom {
  padding: 5px 0;
}

#footer .widget p {
  margin: 0;
}

#footer .widget i {
  margin: 0;
  margin-right: 10px;
}

/* Footer end */

/* MEDIA QUERIS */

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

  /* Newsletter */
  .newsletter .col-lg-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newsletter .col-lg-3 p,
  .newsletter .col-lg-3 button {
    margin: 0;
  }

  .newsletter .col-lg-3 p {
    text-align: left;
  }
  /* Newsletter end */

  /* Iconos */
  .iconos img {
    max-width: 65%;
  }

  .iconos h4 br {
    display: inline-block;
  }

  .iconos h4 {
    font-size: 1rem;
  }
  /* Iconos end */

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1700px) {

}

@media (min-width: 1800px) {

}

